* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 20px;
}

p {
    margin-top: 10px;
    color: red;
}

.input-colors {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.input-colors > input[type="color"] {
    width: 150px;
    height: 150px;
    border: 0 none;
    padding: 0;
}


.colors-id {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.colors-id > span {
    font-size: 20px;
    margin-right: 60px;
    text-decoration: underline;
    cursor: text;
}

.colors-id > span:last-child {
    margin-right: 0;
}

@media screen and (max-width: 500px) {
    .input-colors {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-left: 50px;
    }

    .colors-id {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 250px;
        margin-left: 20px;
    }

    .colors-id > span {
        margin-right: 0;
        margin-bottom: 120px;
        font-size: 12px;
    }

    .colors-id > span:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 700px) {
    .colors-id > span {
        font-size: 15px;
    }
}
